@page "/"


<Card Margin="Margin.Is4.OnY">
    <CardImage Source="https://source.unsplash.com/vdkD0uIPPCE" Alt="Placeholder image">
    </CardImage>
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>
